@if (TempData["MessageSuccess"] is not null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["MessageSuccess"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (TempData["MessageError"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MessageError"]
    </div>
}



<div class="container mt-4">
    <h2>Elenco Anagrafe</h2>

    <a asp-action="Add" class="btn btn-primary m-3">AGGIUNGI ANAGRAFE </a>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>IDAnagrafica</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Indirizzo</th>
                <th>Città</th>
                <th>Cap</th>
                <th>Cod_Fisc</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var anagrafia in Model)
            {
                <tr>
                    <td>@anagrafia.IDAnagrafica</td>
                    <td>@anagrafia.Cognome</td>
                    <td>@anagrafia.Nome</td>
                    <td>@anagrafia.Indirizzo</td>
                    <td>@anagrafia.Città</td>
                    <td>@anagrafia.Cap</td>
                    <td>@anagrafia.Cod_Fisc</td>
                </tr>
            }
        </tbody>
    </table>

</div>